stages:
  - build
  - deploy

build_dev:
  stage: build
  only:
    - dev
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA .

deploy_dev:
  stage: deploy
  only:
    - dev
  script:
    - docker-compose -f docker-compose.yml up -d --build
    - docker-compose -f docker-compose.yml exec -T php74 php artisan migrate
    - docker-compose -f docker-compose.yml exec -T php74 php artisan db:seed --class=MenuSeeder

