version: "2.1"

services:

  compas_php74:
    image: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
    container_name: compas_php74
    volumes:
      - backend-data-compas:/app/storage
    networks:
      default:
        ipv4_address: 172.16.80.10
    environment:
      DB_HOST: '172.16.80.20'
      DB_DATABASE: 'compas'
      DB_USERNAME: 'compas'
      DB_PASSWORD: 'jRIohPmUGQtFIXDko2er'

  postgres:
    image: postgres:14.5
    container_name: compas_postgres
    restart: unless-stopped
    command: postgres -c max_connections=400 -c shared_buffers=5GB -c max_parallel_workers_per_gather=2
    environment:
      POSTGRES_DB: 'compas'
      POSTGRES_USER: 'compas'
      POSTGRES_PASSWORD: 'jRIohPmUGQtFIXDko2er'
    volumes:
      - postgres-data-compas:/var/lib/postgresql/data
    networks:
      default:
        ipv4_address: 172.16.80.20
  nginx:
    container_name: compas_nginx
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    networks:
      default:
        ipv4_address: 172.16.80.30

networks:
  default:
    driver: bridge
    name: compas
    driver_opts:
      com.docker.network.enable_ipv6: "false"
      com.docker.network.bridge.name: "compas"
    ipam:
      driver: default
      config:
        - subnet: 172.16.80.0/24

volumes:
  postgres-data-compas:
  backend-data-compas:
